<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AngularJS - Exempel 7</title>
</head>

<body ng-app>

  <h1>AngularJS - Exempel 7</h1>

  <h2>ng-repeat - demo 1</h2>
  
  <div ng-init="months=['Jan', 'Feb', 'Mar']">
    <div ng-repeat="month in months">
      {{ month }}
    </div>
  </div>

  <h2>ng-repeat - demo 2</h2>

  <ul ng-init="days=[
    'Mån',
    'Tis',
    'Ons',
    'Tor',
    'Fre',
    'Lör',
    'Sön'
  ]">

    <li ng-repeat="day in days">
      {{ day}}
    </li>

  </ul>
  

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

</body>
</html>