<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AngularJS - Exempel 5</title>
</head>

<body ng-app>

  <h1>AngularJS - Exempel 5</h1>

  <h2>Data Binding</h2>
  
  <div ng-init="qty=1 ; cost=10">
    
    Antal: <br>
    <input type="number" min="0" ng-model="qty"> <br>

    Pris: <br>
    <input type="number" min="0" ng-model="cost"> <br>

    <h3>
      Totalt: {{ qty * cost }}
    </h3>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

</body>
</html>