<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AngularJS - Exempel 11</title>
</head>

<body ng-app="myApp">

  <h1>AngularJS - Exempel 11</h1>

  
  <div ng-controller="shopCtrl">
    
    Antal: <br>
    <input type="number" min="0" ng-model="qty"> <br>

    Pris: <br>
    <input type="number" min="0" ng-model="cost"> <br>

    <h3>
      Totalt: {{ total() }} kr
    </h3>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="myApp.js"></script>
</body>
</html>