<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AngularJS - Exempel 10</title>
</head>

<body>

  <h1>AngularJS - Exempel 10</h1>

  <h2>AngularJS Controller</h2>

  <div ng-app="myApp">
    <div ng-controller="myCtrl">
    
      First Name: <br>
      <input type="text" ng-model="firstName">
      <br>

      Last Name: <br>
      <input type="text" ng-model="lastName">
      <br>
      
      <h2>{{ fullName() }}</h2>
    </div> 
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="myApp.js"></script>
</body>
</html>